# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/
.env

# Packaging
build/
 allure-results/
dist/
*.egg-info/
.eggs/

# Test / coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/

# Type checkers / linters
.mypy_cache/
.pyre/
.ruff_cache/

# Jupyter
.ipynb_checkpoints/

# =========================
# IDE
# =========================

# PyCharm / IntelliJ IDEA — at ANY depth
.idea/

# VS Code
.vscode/

# =========================
# OS
# =========================

.DS_Store
Thumbs.db

# =========================
# Logs / temporary files
# =========================

*.log
*.tmp
*.temp
*.swp
*.swo